@tailwind base;
@tailwind components;
@tailwind utilities;  

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.jumbotron {
  background: rgba(12, 26, 49, 0.50);

  box-shadow: 0px 4px 5px -481px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(83.5px);
}
.box{
  border-radius: 12px;
  background: rgba(34, 49, 74, 0.70);
}

.project1 {
  border-radius: 20px;
  border: 1px solid #FFF;
  background: linear-gradient(125deg, #201E35 5.97%, rgba(12, 58, 73, 0.00) 163.44%);
}

.project2 {
  border-radius: 16px;
border: 1px solid #FFF;
background: linear-gradient(125deg, #201E35 5.97%, rgba(56, 182, 255, 0.80) 163.44%);
backdrop-filter: blur(21px);
}

.project0 {
  border-radius: 16px;
border: 1px solid #FFF;
background: linear-gradient(125deg, #201E35 5.97%, #C5A32B 163.44%);
backdrop-filter: blur(21px);
}

.btn-demo1 {
  background: linear-gradient(110deg, #000 18.69%, rgba(217, 217, 217, 0.00) 555.9%);
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}

.btn-demo2{
  border-radius: 16px;
border: 1px solid #FFF;
background: linear-gradient(149deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 119.01%);
backdrop-filter: blur(21px);
}

.btn-demo3{
  border-radius: 16px;
border: 1px solid #FFF;
background: linear-gradient(149deg, rgba(255, 255, 255, 0.20) 0%, #C5A32B 119.01%);
backdrop-filter: blur(21px);
}

.box-arrow1{
  border-radius: 10px;
background: #1B1D20;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-arrow2{
  border-radius: 10px;
background: rgba(56, 182, 255, 0.80);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-arrow2{
  border-radius: 10px;
background: #C5A32B;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-contact{
  background: linear-gradient(182deg, #FFF 1.97%, #030E21 114.85%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@layer base {
  body {
    @apply w-full h-full overflow-x-hidden;
  }

  #__next {
    @apply h-full w-full;
  }

  html {
    @apply h-full w-full relative;
  }
}
